# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/


# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache/

# Other IDE files
.idea/
.vscode/

# Environment variable files
.env
